<li>
    {{burger_name}}

    <button class="change-devour" data-id="{{id}}" data-newdevour="{{devoured}}">
        {{#if devoured}}Eat?{{else}}Make a new burg{{/if}}
    </button>

    <button class="delete-burger" data-id="{{this.id}}">Delete burg?</button>
</li>